@import 'src/assets/sass/abstracts/vars';
@import 'src/assets/sass/abstracts/mixins';

.link-list.list-horizontal {
  display: flex;
  justify-content: space-evenly; // or space-around
  align-items: center;
  width: 100%;

  h3 {
    background: $bg-basic-color;
    padding: 3px 5px;
    @include border-basic;
  }

  a {
    border: none;
  }

  li {
    display: inline-block;
  }
}
